node-red/data/.flows.json.backup
[
    {
        "id": "01fcc320f55d24ef",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f3a1baf4f823f4dc",
        "type": "telegram bot",
        "botname": "Wakalin",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "addressfamily": "",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "575e1a2cce99c790",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "started",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "im here",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "92e14ba1417e97c6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.10.0.142",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2ac04a25467da5e5",
        "type": "telegram receiver",
        "z": "01fcc320f55d24ef",
        "name": "Wakalin",
        "bot": "f3a1baf4f823f4dc",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "ccc6726f437f88ea",
                "ec9fe789eb5e0fba"
            ],
            []
        ]
    },
    {
        "id": "ccc6726f437f88ea",
        "type": "debug",
        "z": "01fcc320f55d24ef",
        "name": "mensajillo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 100,
        "wires": []
    },
    {
        "id": "ec9fe789eb5e0fba",
        "type": "function",
        "z": "01fcc320f55d24ef",
        "name": "function 1",
        "func": "// Extraer el texto del mensaje recibido\nvar mensajeTelegram = msg.payload.content;\n\n// Definir el mensaje a publicar en MQTT\nvar mensajeMQTT = {\n    topic: \"tu/topico/mqtt\",\n    payload: mensajeTelegram,\n    qos: 0,\n    retain: false\n};\n\n// Retornar el mensaje para el nodo MQTT\nreturn mensajeMQTT;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 180,
        "wires": [
            [
                "73e003fec976be38"
            ]
        ]
    },
    {
        "id": "73e003fec976be38",
        "type": "mqtt out",
        "z": "01fcc320f55d24ef",
        "name": "",
        "topic": "wakalin",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "92e14ba1417e97c6",
        "x": 320,
        "y": 420,
        "wires": []
    },
    {
        "id": "3ac73b5f41affc81",
        "type": "mqtt in",
        "z": "01fcc320f55d24ef",
        "name": "",
        "topic": "ledStatus",
        "qos": "2",
        "datatype": "utf8",
        "broker": "92e14ba1417e97c6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 560,
        "wires": [
            [
                "28ba793a14bffb57",
                "cfa5e89bba791a5d"
            ]
        ]
    },
    {
        "id": "28ba793a14bffb57",
        "type": "debug",
        "z": "01fcc320f55d24ef",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 560,
        "wires": []
    },
    {
        "id": "cfa5e89bba791a5d",
        "type": "telegram sender",
        "z": "01fcc320f55d24ef",
        "name": "",
        "bot": "f3a1baf4f823f4dc",
        "haserroroutput": false,
        "outputs": 1,
        "x": 360,
        "y": 700,
        "wires": [
            []
        ]
    }
]